@import url("reset.css");
body {font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;}
a {text-decoration: none; color: #4c7ca3;}
a:hover{color:#99b5cc;}
li {list-style: none;}
p{padding-bottom: 4px;}

#content{width:700px; margin: 0 auto;}
#container{border:1px solid #ccc; -moz-border-radius: 5px;-webkit-border-radius: 5px; margin-top:5px; padding:10px;}
#footer{margin:15px 0;}
#user_info{border:1px solid #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px; background: #99b5cc; padding:10px;}
.avatar{float:left;}

.green{color:green;}
.blue{color:#214ea2;}
.yellow{color:#eab808;}

.title{font-size:16px; margin: 10px 0 0 10px;}
.title b{font-size:18px;}
.nomrg{margin:0; padding: 0;}
.fleft{float:left;}
.get_in{float:right; margin: 14px 10px 0 0;}
.get_in a{padding:0 3px; font-weight: bold;}
.get_in a:hover{background:#BCD1E2; color:white;}

/* Labels and Inputs (textareas too) CSS
----------------------------------------------------------------------------------------------------*/
input[type=text],input[type=password]{padding: 5px 10px; background-color: transparent;	position: relative; z-index: 2;}
label{position: absolute; z-index: 1;-webkit-transition: opacity 0.15s linear; color: #bababa; background-color: #FFFFFF; }

/* `Sexy CSS3 buttons
----------------------------------------------------------------------------------------------------*/
.button, .button:visited {border:none; margin: 0px; background: #222 url(../images/overlay.png) repeat-x;
                          display: inline-block; padding: 4px 10px 5px; color: #fff; text-decoration: none; -moz-border-radius: 6px;
                          -webkit-border-radius: 6px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
                          text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); position: relative; cursor: pointer}
.button:hover{ background-color: #111; color: #fff; }
.button:active{ top: 1px; }
.small.button, .small.button:visited{ font-size: 11px}
.button, .button:visited,.medium.button, .medium.button:visited{font-size: 13px;font-weight: bold;line-height: 1;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);}
.large.button, .large.button:visited { font-size: 14px; padding: 8px 14px 9px;}
.super.button, .super.button:visited { font-size: 34px; padding: 8px 14px 9px; }
.pink.button, .magenta.button:visited{ background-color: #e22092; }
.pink.button:hover{ background-color: #c81e82; }
.green.button, .green.button:visited{ background-color: #91bd09; }
.green.button:hover{ background-color: #749a02; }
.red.button, .red.button:visited{ background-color: #e62727; }
.red.button:hover{ background-color: #cf2525; }
.orange.button, .orange.button:visited{ background-color: #ff5c00; }
.orange.button:hover{ background-color: #d45500; }
.blue.button, .blue.button:visited{ background-color: #2981e4; }
.blue.button:hover{ background-color: #2575cf; }
.yellow.button, .yellow.button:visited{ background-color: #ffb515; }
.yellow.button:hover{ background-color: #fc9200; }

/* `Ideas
----------------------------------------------------------------------------------------------------*/
.info{width:261px; margin-left:5px; float: left; background: #bcd1e2; padding: 5px;
      border:1px solid #99b5cc; -moz-border-radius: 5px;-webkit-border-radius: 5px; }
.info .title{font-weight: bold;}
.ideas{margin-top:4px;}
.ideas a{color:#fff; line-height: 17px; float: left; display: block; width: 185px; font-size: 14px;}
.ideas a:hover{text-decoration:underline;}
.ideas .idea_inf{border:1px solid #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px; background: #fff;
                 float: right; margin-left: 3px; font-size: 11px; padding: 1px;}
.i_t{float:left; font-size: 24px; margin-right: 5px; width: 555px; padding-top: 3px;}
/* Search
----------------------------------------------------------------------------------------------------*/
.search input[type=text]{border:none; border-bottom: 1px dashed #000; color: #595959; font-size: 24px;
                         padding: 0; margin:0px; width: 415px; font-weight: bold;}
.search input[type=submit]{font-size:18px; width: 115px; float: right; margin-left: 0px;}
.search label{color: #676767; font-size: 24px;}
/* Categories
----------------------------------------------------------------------------------------------------*/
.categs{margin: 15px 0;}
.categs li{background:#99b5cc; float: left; padding: 5px; border:1px solid #fff;  -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.categs li:hover{background:#bcd1e2;}
.categs li.active{background:#bcd1e2; padding-bottom:5px; -moz-border-radius-bottomleft:0px; -webkit-border-bottom-left-radius:0px;
                  -moz-border-radius-bottomright:0px; webkit-border-bottom-right-radius:0px; padding-bottom: 7px;}
.categs li a{color:#fff; font-weight: bold; font-size: 14px;}
.categs li a b{font-size:12px; background: #fff; border:1px solid #fff; padding: 0px 3px;  -moz-border-radius: 3px;-webkit-border-radius: 3px;}

.before_line{border-top:3px solid #bcd1e2; margin-top: -1px; position: relative;}
/* Ideas
----------------------------------------------------------------------------------------------------*/
.idea_container{float:left; width: 100%;}
.votes{float:left; width:60px; height:auto;}
.nr_votes{ text-align: center;border:1px solid #99b5cc; color: #595959; padding: 5px;
           -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;
           -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; border-bottom: none;}
.nr_votes b{font-size: 16px; color: black;}
.full{border:1px solid #99b5cc; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.started{background: #6FBC00; font-size: 11px; margin-top: 5px; font-weight: bold; border:1px solid #6FBC00;
         color: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.review{background: #999999; margin-top: 5px; font-weight: bold; border:1px solid #999999;
        color: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.planned{background: #F0BA00; margin-top: 5px; font-weight: bold; border:1px solid #F0BA00;
         color: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.completed{background: #7D7EDF; font-size: 10px; padding:5px 1px; margin-top: 5px; font-weight: bold; border:1px solid #7D7EDF;
           color: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.declined{background: #FF0000; font-size: 10px; padding:5px 1px; margin-top: 5px; font-weight: bold; border:1px solid #FF0000;
          color: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
.do_vote{display:block; background: #99b5cc; color: #fff; text-align: center; border:1px solid #99b5cc; padding: 2px; font-weight: bold;
         -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px;
         -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px;}
.do_vote:hover{background:#bcd1e2; color: #000;}
.idea{margin-left:70px; color: #595959;}
.idea .title a{color:black;}
.idea .title a:hover{color: #4c7ca3;}
.idea .auth_desc{margin-top:7px;}
.idea .auth_inf{margin-top:5px; font-size: 10px; color:#8b8b8b;}

.admin_comment{background: #eee; -moz-box-shadow: 0px 1px 2px #888; margin-top: 7px; }
.ad_started{height: 2px; background: #6FBC00; -moz-box-shadow: 0px 5px 15px #6FBC00; }
.ad_review{height: 2px; background: #999999; -moz-box-shadow: 0px 5px 15px #999999; }
.ad_planned{height: 2px; background: #F0BA00; -moz-box-shadow: 0px 5px 15px #F0BA00; }
.ad_completed{height: 2px; background: #7D7EDF; -moz-box-shadow: 0px 5px 15px #7D7EDF; }
.ad_declined{height: 2px; background: #FF0000; -moz-box-shadow: 0px 5px 15px #FF0000; }
.admin_comment .ad_comment{color:#404040; padding: 10px 15px 0px 15px;}
.admin_comment .auth_inf{ padding: 5px 15px;}

.not_found{font-size:24px; text-align:center; margin: 15px 0;}
/* New Idea popup
----------------------------------------------------------------------------------------------------*/
#create_new{width:350px; height: auto; background: white; position:absolute; z-index: 100;
            border:5px solid #99b5cc; -moz-border-radius: 5px;-webkit-border-radius: 5px; padding: 0; display: none;}
#create_new .title{background: #3672a3; color:white; padding: 5px 10px; margin: 0px; font-size: 18px; font-weight: bold;}
#create_new .close{position:relative; float: right; margin: -15px -15px 0 0; padding: 3px 8px;
                   -moz-border-radius: 16px;-webkit-border-radius: 16px; -moz-box-shadow: 0px 3px 8px #000;
                   background: white; font-size: 30px; font-weight: bolder;}
#create_new .form{padding:7px 10px;}
#create_new .form .f_title{font-size:14px; margin-top: 5px; font-weight: bold; color: #595959; text-shadow:1px 1px 0px #f0f0f0;}
#create_new input[type=text]{width: 320px; font-size: 18px; font-weight: bold; border: 1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; color: #595959; padding: 3px 4px;}
#create_new textarea{width:318px; font-family: 'Arial'; font-size: 14px; color: #595959; padding: 5px; border: 1px solid #ccc;
                     -moz-border-radius:3px; -webkit-border-radius:3px;}
#create_new input[type=submit]{font-size:18px; font-weight: bold; margin-top: 5px;}
#blackout{background-color: #000; height: 100%; filter:alpha(opacity=75); /* IE's opacity*/
          left: 0px; opacity: 0.75; position: fixed; top: 0px; width: 100%; z-index: 99; display: none;}
.error{color:red; padding:4px 3px;}
/* Pagination
----------------------------------------------------------------------------------------------------*/
.pagination{width:370px; font-size:14px; font-weight: bold;
            display:block; background: #99b5cc; text-align: center; border:1px solid #99b5cc; padding: 3px 4px; font-weight: bold;
            -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px;
            -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; -moz-box-shadow: 0px 1px 2px #888;}
.paginate{color: #fff; padding: 0px 4px; border:1px solid #99b5cc;}
.paginate:hover{color: #fff;  background: #BCD1E2;border:1px solid #99b5cc; -moz-border-radius: 3px;-webkit-border-radius: 3px; }
.dots{ padding: 0px 4px;}
.inactive{ padding: 0px 4px;}

/* Idea detail
----------------------------------------------------------------------------------------------------*/
.idea_info{font-size:14px; font-weight: bold; color: white;
           display:block; background: #99b5cc; text-align: center; border:1px solid #99b5cc; padding: 3px 4px; font-weight: bold;
           -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px;
           -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; -moz-box-shadow: 0px 1px 2px #888;}
.idea_info .nr_comments{padding-top:3px;}
.idea_info .share{float:right;}
.idea_info .share ul{margin-top:3px;}
.idea_info .share li{float:left; padding-left: 3px;}

/* Comment
----------------------------------------------------------------------------------------------------*/
.comment{border-bottom: 1px solid #ccc; padding-bottom: 3px;}
.comment .com_avatar{float:left; height: auto; width: 60px;}
.comment .com_content{margin-left: 60px;}
.comment .com_auth a{font-size:14px; font-weight: bold;}
.comment .com_text{margin-top:5px;}
.comment .com_date{float:right; margin: 5px 0px; font-weight: bold;}

/* Comment Form
----------------------------------------------------------------------------------------------------*/
.comentit .sayit{font-size:24px; color: #595959; font-style: italic; padding-bottom: 5px;}
.comentit textarea{width:656px; height: 100px; font-family: 'Arial'; font-size: 14px; color: #595959; padding: 5px 10px; border: 1px solid #2981e4;
                   -moz-border-radius:3px; -webkit-border-radius:3px;}
.comentit label{font-size: 20px; margin: 5px 10px;}
.comentit input{padding:3px 10px; margin-top: 4px;}

/* Login
----------------------------------------------------------------------------------------------------*/
#login{float: left; width: 290px;}
#signup{float: left; width: 290px;}
#login input[type=text],#login input[type=password],
#signup input[type=text],#signup input[type=password]{width:270px; margin: 5px 0; font-size: 24px; font-weight: bold; border: 1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; color: #595959;}
#login label,#signup label {font-size: 24px; margin: 14px 10px;}

#login .sayit,#signup .sayit{font-size:24px; color: #595959; font-style: italic; padding-bottom: 5px;}
.mid_or{font-size:34px; font-weight: bold; color: #595959; vertical-align: middle; padding: 60px 21px; text-shadow:1px 1px 1px #ccc; float: left; height: 100%;}
